@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Brand */
.brand h1 {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  background: linear-gradient(45deg, #d875f4, #3c3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand h1 span {
  color: rgb(195, 85, 239);
}

/* Header */
#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#header .nav-list {
  display: none; /* Hide nav list by default */
}

#header .hamburger {
  display: block; /* Display hamburger menu */
  cursor: pointer;
}

#header .nav-list ul {
  list-style: none;
  display: flex;
}

#header .nav-list ul li {
  margin: 0 10px;
}

#header .nav-list ul li a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

/* Hero Section */
#hero {
  padding: 100px 0;
  text-align: center;
  background-image: url(./img/hero-bg.png);
  background-size: cover;
  background-position: top center;
}

#hero h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}

#hero a.cta {
  font-size: 2rem;
  padding: 10px 30px;
  margin-top: 30px;
}

/* Project Section */
#projects {
  padding: 100px 0;
  background-color: #f9f9f9;
}

#projects .projects-top h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}

#projects .projects-top p {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

#projects .projects-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects .projects-item {
  flex-basis: 80%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#projects .projects-item h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#projects .projects-item p {
  font-size: 1.6rem;
}

/* About Section */
#about {
  padding: 100px 0;
}

#about .col-left,
#about .col-right {
  width: 100%;
  text-align: center;
}

#about .col-left img {
  max-width: 100%;
  border-radius: 50%;
}

#about .col-right h1 {
  font-size: 3.6rem;
  margin-bottom: 20px;
}

#about .col-right p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

#about .col-right .cta {
  font-size: 2rem;
  padding: 10px 30px;
}

/* Contact Section */
#contact {
  padding: 100px 0;
}

#contact .contact-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .contact-item {
  flex-basis: 80%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#contact .contact-item .icon {
  margin-bottom: 10px;
}

#contact .contact-item h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#contact .contact-item h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

/* Footer */
#footer {
  padding: 50px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

#footer .social-item {
  margin: 0 10px;
}

#footer .social-item img {
  width: 40px;
  height: 40px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .brand h1 {
    font-size: 4rem;
  }

  #hero h1 {
    font-size: 5rem;
  }

  #hero a.cta {
    font-size: 2.5rem;
    padding: 15px 40px;
  }

  #projects .projects-item {
    flex-basis: 45%;
  }

  #about .col-left,
  #about .col-right {
    width: 50%;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }

  #header .nav-list {
    display: block; /* Show nav list for desktop */
  }

  #header .hamburger {
    display: none; /* Hide hamburger menu for desktop */
  }
}
